<!DOCTYPE html>
<html>
    <head>
        <title>Blogrite</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- Font Awesome fonts -->
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
        
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"  media="screen,projection"/>

        <link type="text/css" rel="stylesheet" href="/stylesheets/animate.css" />

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>

        <!-- Import classic ckeditor -->
        <script src="https://cdn.ckeditor.com/ckeditor5/12.4.0/classic/ckeditor.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>       
        
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
            
<% include ./navbar.ejs %>

        <div class="container">
            <% if(error && error.length>0) { %>
                <div class="msg msg-error z-depth-3 scale-transition">
                    <%= error %>
                </div>

            <% } 
                if(success && success.length>0) { %>
                    <div class="msg msg-info z-depth-3">
                    <%= success %>
                </div>
            <% } %>
        </div>