<!DOCTYPE html>
<html>
    <head>
        <title>Blogrite</title>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        
        <!-- Font Awesome fonts -->
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css"/>
        
        <link type="text/css" rel="stylesheet" href="/stylesheets/style.css"  media="screen,projection"/>

        <link type="text/css" rel="stylesheet" href="/stylesheets/animate.css" />

        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="/stylesheets/materialize.min.css"  media="screen,projection"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Logout</a></li>
    </ul>

    <!-- NAVBAR -->
    <nav>
        <div class="nav-wrapper indigo darken-4 ">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            
            <ul class="right hide-on-med-and-down">
                <li><a href="/login">Login</a></li>
                <li><a href="/register">Register</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-trigger" data-target="dropdown1">Dropdown<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
            <form class="search-form"> 
                <div class="input-field search-input">
                    <input id="search" type="search" required>
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                </div>
            </form>
        </div>
    </nav>
    
    
    <ul class="sidenav" id="mobile-demo">
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
    </ul>