<% include ./partials/header %>

<div class="container">
    <h3 class="form-title" >Sign Up</h3>
    <div class="form-width">
      <form action="/register" method="POST" class="col s12">
        <div class="row">
          <div class="input-field col s12 m6">
            <input  id="first_name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="last_name" type="text" class="validate">
            <label for="last_name">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate">
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 ">
            <input id="password" type="password" class="validate">
            <label for="password">Password</label>
          </div>
        </div>
        <h6 class="center">OR</h6>
        <div class="row">
          <div class="input-field  center col s12 m12 l6">
            <a class="waves-effect waves-light btn-large red darken-3">
              <i class="material-icons left">
                <img src="https://image.flaticon.com/icons/svg/281/281764.svg" class="button-image">
              </i>
              Google
            </a>
          </div>
          <div class="input-field  center col s12 m12 l6 ">
            <a class="waves-effect waves-light btn-large  indigo darken-1">
              <i class="material-icons left">
                <img src="https://image.flaticon.com/icons/svg/145/145802.svg" class="fb-button">
              </i>
              Facebook
            </a>
          </div>
        </div>
      </form>
    </div>
</div>


<% include ./partials/footer %>