body{
    background-image: url("../images/bgpattern.png");
} 
 
.container-home{
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.mt-2{
    margin-top: 1.5rem;
}

.mt-3{
    margin-top: 3rem;
}

.text-color{
    color: #1a237e;
}

.card-link{
    color: black;
    cursor: pointer;
}

.card-three{
    height:410px;
}

.card-two{
    height: 425px;
}

.card-two img{
    height: 220px;
}

:root {
    --ck-image-style-spacing: 1.5em;
}

.ck-content blockquote {
    overflow: hidden;
    padding-right: 1.5em;
    padding-left: 1.5em;
    margin-left: 0;
    margin-right: 0;
    font-style: italic;
    border-left: solid 5px #1a237e !important ;
}

.blog-body{
    font-size: 1.25rem;
    line-height: 1.7em;
    margin-bottom: 2.5rem;
}

.panel {
    display: none;
}

 /* label focus color */
.input-field input[type=text]:focus + label , 
 input[type=email]:focus + label , 
 input[type=password]:focus + label {
    color: #1a237e !important;
}

.input-field input[type=text]:focus , 
input[type=email]:focus , 
input[type=password]:focus{
    border-bottom: 1px solid #1a237e !important;
    box-shadow: 0 1px 0 0 #1a237e !important;
}

.input-field textarea:focus + label {
    color: #1a237e !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #1a237e !important;
    box-shadow: 0 1px 0 0 #1a237e !important
}

.form-width{
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

.form-title{
    text-align: center;
    color: #1a237e;
    font-size: 28px;
    font-weight: 400;
}

.blog-form-width{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.button-image{
    height: 22px;
    width: 22px;
}

.fb-button{
    height: 22px;
    width: 22px;
    margin-top: 15px;
}

/* NAV BAR */
.brand-logo{
    margin-left: 15px;
}

.btn-large{
    width: 100%;
}

.search-input{
    max-width: 450pt;
    max-width: calc(100% - 350px);
}

.search-form{
    margin-left: 300px;
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    /* transition-duration: 0.3s !important; */
    transition: all 0.5s ease !important;
    -webkit-transition-property: transform;
    transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.03);
}

.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	
}

.msg {
    width:100%;
    border: 1px solid;
    padding:10px;
    margin: 20px;
    color: grey;
}

.msg-error {
    margin-right: auto;
    margin-left: auto;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
    border-radius: 0.25rem;
    width: 50%;
    padding: 12px 20px;
}
.msg-info{
    margin-right: auto;
    margin-left: auto;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 0.25rem;
    width: 50%;
    padding: 12px 20px;
  }

/* CHECK and FIX THIS */
@media only screen and (max-width:499px){
    .form-width,
    .blog-form-width{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-form{
        margin-left: 60px;    
    }

    .search-input{
        max-width: 160pt;
    }
    .blog-body{
        padding: 0 20px;
    }
}

@media only screen and (max-width:699px){
    .card.horizontal .card-image.card-image-horizontal{
        max-width:  100%;
    }
    .horizontal-card-image{
        width: 100% !important;
    }
    .card.horizontal {
        display: block !important;
    }
}

@media only screen and (min-width:500px) and (max-width:749px){
    .search-input{
        max-width: calc(100% - 300px);
    }
    .search-form{
        margin-left: 60px;    
    }
    .blog-body{
        padding: 0 20px;
    }
}

@media only screen and (min-width: 700px){
    .horizontal-card-image{
        height: 100% !important;
        width: 100% !important;
    }
    .card-image.card-image-horizontal{
        height: 335px;
    }
    .card-three img{
        height: 174px;
    }
}

@media only screen and (min-width: 999px){
    .container-home {
        max-width: 82%;
    }
    .card-image.card-image-horizontal{
        width: 64% !important;
        max-width: 70% !important;
    }
    .container.blog{
        width: 60%;
    }
    .ml-1{
        margin-left: 10px !important;
    }
    .mr-2{
        margin-right: 20px !important;
    }
}

@media only screen and (min-width:750px) and (max-width:999px){
    .search-input{
        max-width: calc(100% - 420px);
    }
    .search-form{
        margin-left: 60px;    
    }
    .container.blog{
        width: 75%;
    }
}

@media only screen and (min-width:601px) and (max-width:699px){
    .card-two img{
        height: 149px;
    }
    .card-two{
        height: 410px;  
    }
}

@media only screen and (min-width:701px) and (max-width:999px){
    .card-two img{
        height: 174px;
    }
    .card-two{
        height: 410px;  
    }
}


