body{
    background-image: url("../images/bgpattern.png");
} 
 
 /* label focus color */
.input-field input[type=text]:focus + label , input[type=email]:focus + label , input[type=password]:focus + label {
    color: #1a237e !important;
}

.input-field input[type=text]:focus , input[type=email]:focus , input[type=password]:focus{
    border-bottom: 1px solid #1a237e !important;
    box-shadow: 0 1px 0 0 #1a237e !important;
}

.form-width{
    width: 49%;
    margin-left: auto;
    margin-right: auto;
}

.form-title{
    text-align: center;
    color: #1a237e;
    font-size: 28px;
    font-weight: 400;
}

.button-image{
    height: 22px;
    width: 22px;
}

.fb-button{
    height: 22px;
    width: 22px;
    margin-top: 15px;
}

/* NAV BAR */
.brand-logo{
    margin-left: 15px;
}

.btn-large{
    width: 100%;
}

.search-input{
    max-width: 450pt;
    max-width: calc(100% - 350px);
}

.search-form{
    margin-left: 300px;
}

/* CHECK and FIX THIS */
@media only screen and (max-width:499px){
    .form-width{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }

    .search-form{
        margin-left: 60px;    
    }

    .search-input{
        max-width: 160pt;
    }
}

@media only screen and (min-width:500px) and (max-width:749px){
    .search-input{
        max-width: calc(100% - 300px);
    }
    .search-form{
        margin-left: 60px;    
    }
}

@media only screen and (min-width:750px) and (max-width:999px){
    .search-input{
        max-width: calc(100% - 420px);
    }
    .search-form{
        margin-left: 60px;    
    }
}